/* RKM Styles */

/* MAIN STYLES */
html{
    font-size: 16px;
    
}

section {
    margin: 1.25rem 0;
}

.section-header{
    text-align: center;
}

#cover-main{
    margin:0;
}
/* TECHNOLOGY STYLES */
.technology-header{
   color:white;
    
}
#technology{
    background: url('../images/AdobeStock_85480562_WM.jpeg') center center no-repeat;
    background-size: cover;
    color: white;
    
}
.tech-content{
    padding: 0 1.5rem;
    background: rgba(0,0,0,0.5);
    color:white;
}

.tech-logo-content, .tech-logo-header{
    text-align: center;
}

.logo-img{
    height: 140px;
    width: 140px;
}

/* PORTFOLIO STYLES */
#portfolio-main{
    /*background-color: wheat;
    background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px; */
}
.portfolio-content{
    width:100%;
   min-height: 20.5rem;
    background-color: lightgray;    
}
.portfolio-column{   
    margin-left: 0px;
    margin-right: 0px;
}

/* CONTACT STYLES */
#contact-main .section-content{
    background: url('../images/AdobeStock_77134191_WM.jpeg') center center no-repeat;
    background-size:cover;
    color: white
}

.trans-content-background{
    
    
}