/* RKM Styles */

/* MAIN STYLES */
html{
    font-size: 16px;
    
}

section {
    margin: 1.25rem 0;
}

.section-header{
    text-align: center;
}

#cover-main{
    margin:0;
}

.tech-content{
    padding: 0 1.5rem;
}

.tech-logo-content, .tech-logo-header{
    text-align: center;
}

.logo-img{
    height: 140px;
    width: 140px;
}
